@page "/"

<h3>HomePage</h3>

<p>Welcome to the Minigames homepage! Choose a game to play.</p>

<div class="row">


    <div class="col">
        <NavLink href="/simon">Simon/</NavLink>
    </div>
    
    <div class="col">
        <NavLink href="simon">Simon</NavLink>
    </div>


    <div class="col">
        <a href="/tictactoe" class="btn btn-primary">Tic Tac Toe</a>
    </div>
    <div class="col">
        <a href="/memory" class="btn btn-primary">Memory</a>
    </div>

    <div class="col">
        <a href="/whackamole" class="btn btn-primary">Whack-a-Mole</a>
    </div>
    <div class="col">
        <a href="/snake" class="btn btn-primary">Snake</a>
    </div>
    <div class="col">
        <a href="/flappybird" class="btn btn-primary">Flappy Bird</a>
    </div>
    <div class="col">
        <a href="/2048" class="btn btn-primary">2048</a>
    </div>
    </div>

@code {

}
